<div class="container-fluid">
  <h2>Formulario de registro</h2>
  <form [formGroup]="registrationForm">
    <div class="form-group">
      <label >Usuario</label>
      <input formControlName="userName" type="text" class="form-control">
    </div>

  <div class="form-grup">
    <label >contraseña</label>
    <input formControlName="password" type="text" class="form-control">
  </div>
  <div class="form-grup">
    <label >Confirmar contraseña</label>
    <input formControlName="confirmPassword" type="text" class="form-control">
  </div>
  
  <button class="btn btn-primary" type="submit">Register</button>

  </form>
  {{registrationForm.value | json}}
</div>


